.cart {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1453px;
  overflow: hidden;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.signupBannerContent {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1440px;
  height: 38px;
  overflow: hidden;
  color: var(--color-white);
}
.signUpAndContainer {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 176px);
}
.signUpNow {
  text-decoration: underline;
  font-weight: 500;
}
.signupBannerImage {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  position: absolute;
  top: calc(50% - 10px);
  left: 1320px;
  width: var(--width-20);
  height: var(--height-20);
}
.frameIcon,
.frameParent {
  position: absolute;
  top: 54px;
  display: none;
}
.frameIcon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  left: 16px;
  width: var(--width-24);
  height: var(--height-24);
  z-index: 0;
}
.frameParent {
  left: 278px;
  align-items: flex-start;
  gap: var(--gap-12);
  z-index: 1;
}
.cartFrameIcon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.shopco,
.shopcoParent {
  position: absolute;
  font-family: var(--font-integral-cf);
}
.shopco {
  top: 57px;
  left: 56px;
  font-size: 25.2px;
  display: none;
  z-index: 0;
}
.shopcoParent {
  top: 62px;
  left: 100px;
  width: 1240px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: var(--fs-32);
}
.cartShopco {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.frameFormselect,
.frameGroup {
  font-family: var(--font-satoshi);
  font-size: var(--fs-16);
}
.frameGroup {
  display: flex;
  align-items: center;
  gap: var(--gap-24);
}
.frameFormselect {
  color: var(--color-black);
}
.onSale {
  position: relative;
}
.frameContainer {
  flex: 1;
  border-radius: var(--br-62);
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-12) var(--padding-16);
  gap: var(--gap-12);
}
.searchForProducts {
  width: calc(100% - 56px);
  border: var(--border-2);
  outline: 0;
  font-family: var(--font-satoshi);
  font-size: var(--fs-16);
  background-color: transparent;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.headerIconsParent {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-14);
}
.breadcrumbs,
.cartHeader {
  display: flex;
  align-items: center;
}
.cartHeader {
  position: absolute;
  top: 158px;
  left: 100px;
  gap: var(--gap-12);
  font-size: var(--fs-16);
  color: var(--color-gray-200);
}
.breadcrumbs {
  gap: var(--gap-4);
}
.frameIcon5 {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
  object-fit: contain;
}
.cart2 {
  position: relative;
  color: var(--color-black);
}
.cartChild {
  position: absolute;
  top: 133.5px;
  left: 99.5px;
  border-top: var(--border-1);
  box-sizing: border-box;
  width: 1241px;
  height: var(--height-1);
}
.groupChild,
.rectangleParent {
  position: absolute;
  width: 1441px;
}
.rectangleParent {
  top: 864px;
  left: calc(50% - 721px);
  height: 589px;
  text-align: right;
  font-size: var(--fs-14);
  color: var(--color-gray-200);
  font-family: var(--font-satoshi);
}
.groupChild {
  top: 90px;
  left: calc(50% - 720.5px);
  background-color: var(--color-whitesmoke);
  height: 499px;
}
.groupItem {
  position: absolute;
  top: 456.5px;
  left: calc(50% - 620px);
  border-top: var(--border-1);
  box-sizing: border-box;
  width: 1241px;
  height: var(--height-1);
}
.stayUptoDateAboutOurLatesParent {
  position: absolute;
  top: 0;
  left: 101px;
  border-radius: var(--br-20);
  background-color: var(--color-black);
  width: 1240px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px var(--padding-64);
  box-sizing: border-box;
  gap: var(--gap-0);
  text-align: left;
  font-size: var(--fs-40);
  color: var(--color-white);
  font-family: var(--font-integral-cf);
}
.stayUptoDate {
  margin: 0;
  height: 94px;
  width: 551px;
  position: relative;
  font-size: inherit;
  line-height: 45px;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
}
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-14);
}
.cartFrameParent,
.subscribeToNewsletterWrapper {
  padding: var(--padding-12) var(--padding-16);
  background-color: var(--color-white);
  width: 349px;
  border-radius: var(--br-62);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.cartFrameParent {
  align-items: flex-start;
  gap: var(--gap-12);
}
.subscribeToNewsletterWrapper {
  cursor: pointer;
  border: var(--border-2);
  align-items: center;
  justify-content: center;
}
.footerDetailsParent,
.subscribeToNewsletter {
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.subscribeToNewsletter {
  position: relative;
  font-weight: 500;
}
.footerDetailsParent {
  position: absolute;
  top: 230px;
  left: 101px;
  width: 1240px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-0);
}
.brandDetails,
.footerDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerDetails {
  gap: 35px;
  font-size: 33.5px;
  font-family: var(--font-integral-cf);
}
.brandDetails {
  gap: 25px;
}
.weHaveClothes {
  width: 248px;
  position: relative;
  font-size: var(--fs-14);
  line-height: 22px;
  font-family: var(--font-satoshi);
  color: var(--color-gray-200);
  display: inline-block;
}
.social {
  width: 148px;
  position: relative;
  height: var(--height-28);
}
.cartFooterSpacingIcon,
.footerSpacingIcon,
.footerSpacingIcon2,
.footerSpacingIcon3 {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-28);
  height: var(--height-28);
}
.cartFooterSpacingIcon,
.footerSpacingIcon2,
.footerSpacingIcon3 {
  left: 40px;
}
.footerSpacingIcon2,
.footerSpacingIcon3 {
  left: 80px;
}
.footerSpacingIcon3 {
  left: 120px;
}
.helpMenuParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-26);
}
.helpMenu {
  position: relative;
  letter-spacing: var(--ls-3);
  line-height: var(--lh-18);
  text-transform: uppercase;
  font-weight: 500;
}
.aboutFeaturesWorksContainer {
  position: relative;
  line-height: var(--lh-19);
  color: var(--color-gray-200);
}
.about {
  white-space: pre-wrap;
}
.about,
.blankLine {
  margin: 0;
}
.aboutFeaturesWorksContainer2 {
  width: 149px;
  position: relative;
  line-height: var(--lh-19);
  color: var(--color-gray-200);
  display: inline-block;
}
.badgeImages {
  position: absolute;
  top: 477px;
  left: 1060px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-12);
}
.wrapperBadge {
  width: var(--width-46_6);
  position: relative;
  border-radius: var(--br-5_4);
  height: var(--height-30);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgeIcon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 5px;
  transform: scale(1.395);
}
.allRightsReserved {
  position: absolute;
  top: 482px;
  left: 101px;
}
.itemInfo,
.yourCart {
  position: absolute;
  left: 100px;
}
.yourCart {
  margin: 0;
  top: 204px;
  font-size: var(--fs-40);
  font-weight: 700;
  font-family: var(--font-integral-cf);
}
.itemInfo {
  top: 276px;
  border-radius: var(--br-20);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 715px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-20) var(--padding-24);
  gap: var(--gap-24);
}
.itemDetails {
  align-self: stretch;
  height: var(--height-1);
  position: relative;
  border-top: var(--border-1);
  box-sizing: border-box;
}
.cartOrderDetails,
.orderDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.orderDetails {
  position: absolute;
  top: 276px;
  left: 835px;
  border-radius: var(--br-20);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 505px;
  height: 458px;
  overflow: hidden;
  padding: var(--padding-20) var(--padding-24);
  gap: var(--gap-24);
  text-align: left;
  font-size: var(--fs-24);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.cartOrderDetails {
  align-self: stretch;
  gap: var(--gap-20);
  font-size: var(--fs-20);
  color: var(--color-gray-200);
}
.subtotalParent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
}
.cartH3,
.h3,
.subtotal {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
}
.cartH3,
.h3 {
  font-weight: 700;
  color: var(--color-black);
  text-align: right;
}
.cartH3 {
  color: var(--color-tomato);
}
.totalParent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-0);
  color: var(--color-black);
}
.h33 {
  margin: 0;
  position: relative;
  font-size: var(--fs-24);
  font-weight: 700;
  font-family: inherit;
  text-align: right;
}
.applyWrapper,
.promoCodeInputParent {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.promoCodeInputParent {
  gap: var(--gap-12);
}
.applyWrapper {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-12) var(--padding-16);
  background-color: var(--color-black);
  width: 119px;
  border-radius: var(--br-62);
  overflow: hidden;
  flex-shrink: 0;
  box-sizing: border-box;
}
.apply {
  position: relative;
  font-size: var(--fs-16);
  font-weight: 500;
  font-family: var(--font-satoshi);
  color: var(--color-white);
  text-align: left;
}
.goToCheckoutParent {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-16) 54px;
  background-color: var(--color-black);
  align-self: stretch;
  height: 60px;
  border-radius: var(--br-62);
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-12);
}
.arrowDownBold1Icon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
  object-fit: contain;
}
.groupInner,
.rectangleGroup {
  position: absolute;
  width: 392px;
}
.rectangleGroup {
  top: 1052px;
  left: calc(50% - 721px);
  height: 981px;
  display: none;
}
.groupInner {
  top: 135px;
  left: calc(50% - 196px);
  background-color: var(--color-whitesmoke);
  height: 846px;
  z-index: 0;
}
.frameParent2,
.frameParent3 {
  position: absolute;
  overflow: hidden;
  z-index: 0;
}
.frameParent2 {
  top: 0;
  left: 17px;
  border-radius: var(--br-20);
  background-color: var(--color-black);
  width: 358px;
  height: 293px;
  font-size: var(--fs-32);
  color: var(--color-white);
  font-family: var(--font-integral-cf);
}
.frameParent3 {
  top: 169px;
  left: calc(50% - 155px);
  border-radius: var(--br-62);
  background-color: var(--color-white);
  width: 311px;
  height: 42px;
  display: flex;
  align-items: center;
  padding: var(--padding-12) var(--padding-16);
  box-sizing: border-box;
  gap: var(--gap-12);
}
.cartEnterYourEmail,
.frameIcon8 {
  border: var(--border-2);
  background-color: transparent;
  position: relative;
}
.frameIcon8 {
  cursor: pointer;
  padding: var(--padding-0);
  height: var(--height-20);
  width: var(--width-20);
}
.cartEnterYourEmail {
  width: var(--width-calc100-52);
  outline: 0;
  font-family: var(--font-satoshi);
  font-size: var(--fs-14);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
}
.subscribeToNewsletterContainer {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-12) var(--padding-16);
  background-color: var(--color-white);
  position: absolute;
  top: 223px;
  left: 24px;
  border-radius: var(--br-62);
  width: 311px;
  height: 42px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.cartSubscribeToNewsletter {
  position: relative;
  font-size: var(--fs-14);
  font-weight: 500;
  font-family: var(--font-satoshi);
  color: var(--color-black);
  text-align: left;
}
.cartStayUptoDate {
  position: absolute;
  top: 32px;
  left: 24px;
  line-height: 35px;
  display: inline-block;
  width: 297px;
}
.shopco3 {
  position: absolute;
  top: 324.6px;
  left: 17px;
  font-size: 28.8px;
  font-family: var(--font-integral-cf);
  z-index: 0;
}
.cartWeHaveClothes {
  position: absolute;
  top: 358.6px;
  left: 18px;
  line-height: var(--lh-20);
  color: var(--color-gray-200);
  display: inline-block;
  width: 357px;
  z-index: 0;
}
.cartSocial {
  position: absolute;
  top: 418.6px;
  left: 17px;
  width: 148px;
  height: var(--height-28);
}
.cartIcon,
.icon,
.icon2,
.icon3 {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-28);
  height: var(--height-28);
  z-index: 0;
}
.cartIcon,
.icon2,
.icon3 {
  left: 40px;
  z-index: 1;
}
.icon2,
.icon3 {
  left: 80px;
  z-index: 2;
}
.icon3 {
  left: 120px;
  z-index: 3;
}
.helpMenuParent2 {
  position: absolute;
  top: 471px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  z-index: 0;
}
.aboutFeaturesWorksContainer4 {
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-gray-200);
}
.helpMenuParent3 {
  position: absolute;
  top: 641px;
  left: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  z-index: 0;
}
.aboutFeaturesWorksContainer5 {
  width: var(--width-121);
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-gray-200);
  display: inline-block;
}
.helpMenuParent4,
.helpMenuParent5 {
  position: absolute;
  top: 471px;
  left: 197px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
  z-index: 1;
}
.helpMenuParent5 {
  top: 641px;
}
.aboutFeaturesWorksContainer7 {
  width: 159px;
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-gray-200);
  display: inline-block;
}
.lineDiv {
  position: absolute;
  top: 826.5px;
  left: calc(50% - 179.5px);
  border-top: var(--border-1);
  box-sizing: border-box;
  width: 359px;
  height: var(--height-1);
  z-index: 0;
}
.cartAllRightsReserved {
  position: absolute;
  top: 843px;
  left: calc(50% - 134px);
  color: var(--color-gray-200);
  text-align: right;
  z-index: 0;
}
.wrapperBadgeParent {
  position: absolute;
  top: 878px;
  left: calc(50% - 121px);
  display: flex;
  align-items: flex-end;
  gap: 10.3px;
  z-index: 0;
}
.wrapperBadge5 {
  height: var(--height-25_7);
  width: var(--width-40);
  position: relative;
  border-radius: var(--br-4_6);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgeIcon5 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.393);
}
@media screen and (max-width: 1200px) {
  .frameIcon,
  .frameParent,
  .rectangleGroup,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frameIcon,
  .frameParent,
  .rectangleGroup,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .frameIcon,
  .frameParent,
  .rectangleGroup,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .frameIcon,
  .frameParent,
  .rectangleGroup,
  .shopco {
    display: none;
  }
}
