@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Integral+CF:ital,wght@0,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satoshi:ital,wght@0,400;0,500;0,700&display=swap");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* Common Style Variables */

  /* Color */
  --color-black: #000;
  --color-darkslategray: #333;
  --color-gray-100: rgba(0, 0, 0, 0.4);
  --color-gray-200: rgba(0, 0, 0, 0.6);
  --color-gray-300: rgba(0, 0, 0, 0.1);
  --color-mediumseagreen: #34a853;
  --color-tomato: #ff3333;
  --color-white: #fff;
  --color-whitesmoke: #f0f0f0;

  /* Gap */
  --gap-0: 0px;
  --gap-1: 1px;
  --gap-2: 2px;
  --gap-4: 4px;
  --gap-6: 6px;
  --gap-8: 8px;
  --gap-10: 10px;
  --gap-12: 12px;
  --gap-14: 14px;
  --gap-16: 16px;
  --gap-20: 20px;
  --gap-24: 24px;
  --gap-26: 26px;

  /* Padding */
  --padding-0: 0;
  --padding-1: 1px;
  --padding-3: 3px;
  --padding-4: 4px;
  --padding-5: 5px;
  --padding-6: 6px;
  --padding-10: 10px;
  --padding-11: 11px;
  --padding-12: 12px;
  --padding-13: 13px;
  --padding-14: 14px;
  --padding-15: 15px;
  --padding-16: 16px;
  --padding-17: 17px;
  --padding-18: 18px;
  --padding-19: 19px;
  --padding-20: 20px;
  --padding-24: 24px;
  --padding-30: 30px;
  --padding-31: 31px;
  --padding-32: 32px;
  --padding-48: 48px;
  --padding-64: 64px;
  --padding-69: 69px;
  --padding-70: 70px;

  /* BorderRadius */
  --br-12: 12px;
  --br-20: 20px;
  --br-62: 62px;
  --br-33554400: 33554400px;
  --br-4_6: 4.6px;
  --br-5_4: 5.4px;
  --br-8_7: 8.7px;

  /* Font */
  --font-integral-cf: Integral CF;
  --font-inter: Inter;
  --font-satoshi: Satoshi;

  /* FontSize */
  --fs-12: 12px;
  --fs-14: 14px;
  --fs-16: 16px;
  --fs-19: 19px;
  --fs-20: 20px;
  --fs-24: 24px;
  --fs-26: 26px;
  --fs-32: 32px;
  --fs-40: 40px;

  /* Borders */
  --border-1: 1px solid var(--color-gray-300);
  --border-2: none;

  /* Shadows */
  --shadow-drop: 0px 4px 16px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0),
    0px 0px 0px rgba(0, 0, 0, 0);

  /* WidthHeights */
  --height-1: 1px;
  --height-8: 8px;
  --height-14: 14px;
  --height-16: 16px;
  --height-19: 19px;
  --height-20: 20px;
  --height-21: 21px;
  --height-24: 24px;
  --height-28: 28px;
  --height-30: 30px;
  --height-31: 31px;
  --height-48: 48px;
  --height-54: 54px;
  --height-77: 77px;
  --height-99: 99px;
  --height-124: 124px;
  --height-25_7: 25.7px;
  --min-h-48: 48px;
  --width-8: 8px;
  --width-14: 14px;
  --width-16: 16px;
  --width-20: 20px;
  --width-22: 22px;
  --width-24: 24px;
  --width-28: 28px;
  --width-40: 40px;
  --width-99: 99px;
  --width-105: 105px;
  --width-121: 121px;
  --width-161: 161px;
  --width-334: 334px;
  --width-46_6: 46.6px;
  --width-calc100-52: calc(100% - 52px);

  /* LineHeights */
  --lh-16: 16px;
  --lh-18: 18px;
  --lh-19: 19px;
  --lh-20: 20px;
  --lh-21: 21px;
  --lh-24: 24px;
  --lh-48: 48px;

  /* LetterSpacings */
  --ls-3: 3px;
}
