.footerColumns {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-14);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.shopco {
  position: absolute;
  top: 324.6px;
  left: 17px;
  font-size: 28.8px;
  font-family: var(--font-integral-cf);
}
.shopcoDescription {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-6) var(--padding-1);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  color: var(--color-gray-200);
}
.weHaveClothes {
  position: absolute;
  top: 358.6px;
  left: 18px;
  line-height: var(--lh-20);
  display: inline-block;
  width: 357px;
  flex-shrink: 0;
}
.footerPaddings {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-20) 10.4px var(--padding-0);
  position: relative;
  gap: var(--gap-12);
}
.footerColumnsIcon,
.icon,
.icon2,
.icon3 {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-28);
  height: var(--height-28);
}
.footerColumnsIcon,
.icon2,
.icon3 {
  left: 40px;
}
.icon2,
.icon3 {
  left: 80px;
}
.icon3 {
  left: 120px;
}
.frameParent,
.helpMenuParent {
  display: flex;
  align-items: flex-start;
}
.frameParent {
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  position: relative;
  gap: 89px;
  max-width: 100%;
}
.helpMenuParent {
  position: absolute;
  top: 471px;
  left: 17px;
  flex-direction: column;
  gap: var(--gap-16);
}
.helpMenu {
  position: relative;
  letter-spacing: var(--ls-3);
  line-height: var(--lh-18);
  text-transform: uppercase;
  font-weight: 500;
}
.aboutFeaturesWorksContainer {
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-gray-200);
}
.about {
  white-space: pre-wrap;
}
.about,
.blankLine {
  margin: 0;
}
.helpMenuGroup {
  position: absolute;
  top: 471px;
  left: 197px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-16);
}
.footerColumnsAboutFeaturesWorksContainer {
  width: var(--width-121);
  position: relative;
  line-height: var(--lh-16);
  color: var(--color-gray-200);
  display: inline-block;
}
