.footerBottom {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: var(--gap-16);
  text-align: right;
  font-size: var(--fs-14);
  color: var(--color-gray-200);
  font-family: var(--font-satoshi);
}
.footerBottomChild {
  position: absolute;
  top: 826.5px;
  left: calc(50% - 162.5px);
  border-top: var(--border-1);
  box-sizing: border-box;
  width: 359px;
  height: var(--height-1);
}
.allRightsReservedWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 44px var(--padding-0) 45px;
  position: relative;
}
.allRightsReserved {
  position: absolute;
  top: 843px;
  left: calc(50% - 117px);
}
.socialIcons {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 59px var(--padding-0) 58px;
  position: relative;
}
.wrapperBadgeParent {
  position: absolute;
  top: 878px;
  left: calc(50% - 104px);
  display: flex;
  align-items: flex-end;
  gap: 10.3px;
}
.wrapperBadge {
  height: var(--height-25_7);
  width: var(--width-40);
  position: relative;
  border-radius: var(--br-4_6);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badgeIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 4px;
  transform: scale(1.393);
}
