.emailAddressParent {
  width: var(--width-334);
  height: var(--height-77);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-8);
  max-width: 100%;
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.emailAddress {
  position: relative;
  line-height: var(--lh-21);
  z-index: 1;
}
.rectangle,
.rectangleParent {
  border-radius: var(--br-12);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangleParent {
  align-self: stretch;
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-12) var(--padding-17) var(--padding-12)
    var(--padding-15);
  gap: var(--gap-20);
  z-index: 1;
}
.rectangle {
  height: var(--height-48);
  width: var(--width-334);
  position: relative;
  display: none;
}
.johndoeexamplecom {
  width: var(--width-calc100-52);
  border: var(--border-2);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: var(--padding-0);
  z-index: 2;
}
.frameIcon {
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
  z-index: 2;
}
