.rectangle,
.rectangleParent {
  box-shadow: var(--shadow-drop);
  border-radius: var(--br-20);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.rectangleParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-31) var(--padding-13) var(--padding-31)
    var(--padding-32);
  gap: var(--gap-20);
  max-width: calc(100% - 32px);
  text-align: left;
  font-size: var(--fs-14);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.rectangle {
  width: 400px;
  height: 892px;
  position: relative;
  display: none;
  max-width: 100%;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  align-self: stretch;
  padding: var(--padding-0) var(--padding-48) var(--padding-12) 49px;
  text-align: center;
  font-size: var(--fs-32);
}
.frameParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
}
.createAccountWrapper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-10);
}
.createAccount {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: var(--lh-48);
  font-weight: 400;
  font-family: inherit;
  z-index: 1;
}
.joinShopcoAnd {
  align-self: stretch;
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  color: var(--color-gray-200);
  z-index: 1;
}
.inputLabel,
.inputLabelParent {
  display: flex;
  align-items: flex-start;
}
.inputLabelParent {
  width: var(--width-334);
  flex-direction: column;
  gap: var(--gap-8);
  max-width: 100%;
}
.inputLabel {
  width: 244px;
  justify-content: space-between;
  gap: var(--gap-20);
}
.firstName {
  position: relative;
  line-height: var(--lh-21);
  z-index: 1;
}
.dataInput {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: var(--gap-12);
}
.emailData,
.rectangle2 {
  border-radius: var(--br-12);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.emailData {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-13) var(--padding-16) var(--padding-12);
  min-width: 105px;
  min-height: var(--min-h-48);
  z-index: 1;
}
.rectangle2 {
  height: var(--height-48);
  width: var(--width-161);
  position: relative;
  display: none;
}
.john {
  width: 100%;
  border: var(--border-2);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: var(--padding-0);
  z-index: 2;
}
.doeData,
.passwordHelper,
.rectangle4 {
  border-radius: var(--br-12);
  background-color: var(--color-whitesmoke);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
}
.doeData {
  flex: 1;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-12) var(--padding-16) var(--padding-13);
  min-width: 105px;
  min-height: var(--min-h-48);
  z-index: 1;
}
.passwordHelper,
.rectangle4 {
  height: var(--height-48);
  max-width: 100%;
}
.passwordHelper {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-12) var(--padding-17) var(--padding-12)
    var(--padding-15);
  gap: var(--gap-20);
  z-index: 1;
}
.rectangle4 {
  width: var(--width-334);
  position: relative;
  display: none;
}
.boxIcon,
.createAStrong {
  position: relative;
  z-index: 2;
}
.createAStrong {
  width: var(--width-calc100-52);
  border: var(--border-2);
  outline: 0;
  font-family: var(--font-inter);
  font-size: var(--fs-16);
  background-color: transparent;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: var(--padding-0);
}
.boxIcon {
  height: var(--height-20);
  width: var(--width-20);
}
.frameGroup {
  flex-direction: column;
  gap: var(--gap-4);
  font-size: var(--fs-12);
  color: var(--color-gray-100);
}
.boxesWrapper,
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  gap: var(--gap-8);
}
.boxesWrapper {
  flex-direction: column;
  padding: var(--padding-5) var(--padding-0) var(--padding-0);
}
.boxes,
.upperLowercase {
  position: relative;
  z-index: 1;
}
.boxes {
  width: var(--width-8);
  height: var(--height-8);
  border-radius: var(--br-33554400);
  background-color: var(--color-gray-300);
}
.upperLowercase {
  line-height: var(--lh-18);
}
.agreeBox,
.agreeBoxParent {
  display: flex;
  align-items: flex-start;
}
.agreeBoxParent {
  padding: var(--padding-0) var(--padding-3) var(--padding-0) var(--padding-0);
  gap: var(--gap-2);
  color: var(--color-gray-200);
}
.agreeBox {
  margin: 0;
  height: var(--height-20);
  width: var(--width-22);
  flex-direction: column;
  padding: var(--padding-4) var(--padding-6) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
}
.iAgreeTo,
.termsOfService {
  position: relative;
  line-height: var(--lh-20);
  z-index: 1;
}
.termsOfService {
  color: var(--color-black);
}
.submitButtonWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle7,
.submitButton {
  border-radius: var(--br-62);
  background-color: var(--color-black);
  max-width: 100%;
}
.submitButton {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-15) 103px var(--padding-15) 113px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  z-index: 1;
}
.submitButton:hover {
  background-color: var(--color-darkslategray);
}
.rectangle7 {
  height: var(--height-54);
  width: var(--width-334);
  position: relative;
  display: none;
}
.rectangleParentCreateAccount {
  position: relative;
  font-size: var(--fs-16);
  line-height: var(--lh-24);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  z-index: 2;
}
.socialConnectWrapper {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) 104px var(--padding-4);
  box-sizing: border-box;
  max-width: 100%;
  text-align: center;
  color: var(--color-gray-200);
}
.rectangle8,
.socialConnect {
  background-color: var(--color-white);
}
.socialConnect {
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-11) var(--padding-0) var(--padding-16);
  z-index: 1;
}
.rectangle8 {
  height: var(--height-21);
  width: 127px;
  position: relative;
  display: none;
}
.orSignUp {
  position: relative;
  line-height: var(--lh-21);
  z-index: 2;
}
.socialIcon {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-0) var(--padding-0) var(--padding-4);
  box-sizing: border-box;
  gap: var(--gap-12);
  max-width: 100%;
}
.iconPair,
.rectangle9 {
  border-radius: var(--br-12);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
}
.iconPair {
  cursor: pointer;
  padding: var(--padding-12) var(--padding-69) var(--padding-12)
    var(--padding-70);
  display: flex;
  align-items: flex-start;
  z-index: 1;
}
.rectangle9 {
  height: var(--height-48);
  width: var(--width-161);
  position: relative;
  box-sizing: border-box;
  display: none;
}
.accountAction,
.rectangleParentIconPair {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.rectangleParentIconPair {
  cursor: pointer;
  border: 1px solid var(--color-gray-300);
  padding: var(--padding-12) var(--padding-69) var(--padding-12)
    var(--padding-70);
  background-color: var(--color-white);
  height: var(--height-48);
  border-radius: var(--br-12);
  z-index: 1;
}
.accountAction {
  padding: var(--padding-0) 49px;
  max-width: 100%;
  text-align: center;
  color: var(--color-gray-200);
}
.alreadyHaveAnAccountParent {
  display: flex;
  align-items: flex-start;
  gap: 7px;
}
.signIn {
  position: relative;
  line-height: var(--lh-21);
  color: var(--color-black);
  z-index: 1;
}
@media screen and (max-width: 1050px) {
  .rectangleParent {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .createAccount {
    font-size: var(--fs-26);
    line-height: 38px;
  }
}
@media screen and (max-width: 750px) {
  .agreeBoxParent,
  .socialIcon {
    flex-wrap: wrap;
  }
  .rectangleParent {
    padding-top: var(--padding-20);
    padding-bottom: var(--padding-20);
    box-sizing: border-box;
  }
  .createAccount {
    font-size: var(--fs-26);
    line-height: 38px;
  }
}
@media screen and (max-width: 675px) {
  .agreeBoxParent,
  .socialIcon {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .frameWrapper {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
  .createAccount {
    font-size: var(--fs-19);
    line-height: 29px;
  }
  .accountAction,
  .socialConnectWrapper,
  .submitButton {
    padding-left: var(--padding-20);
    padding-right: var(--padding-20);
    box-sizing: border-box;
  }
}
