.frameParent {
  align-self: stretch;
  display: none;
  align-items: flex-start;
  gap: var(--gap-14);
  text-align: left;
  font-size: var(--fs-16);
  color: var(--color-black);
  font-family: var(--font-satoshi);
}
.frameChild {
  width: var(--width-99);
  position: relative;
  border-radius: var(--br-8_7);
  height: var(--height-99);
  object-fit: cover;
}
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-0);
}
.frameGroup {
  flex: 1;
  height: var(--height-99);
  flex-direction: column;
}
.frameContainer {
  align-self: stretch;
}
.gradientGraphicTShirtParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-1);
}
.gradientGraphicTShirt {
  position: relative;
}
.sizeLargeParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-2);
  font-size: var(--fs-12);
}
.large {
  color: var(--color-gray-200);
}
.frameIcon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  height: var(--height-20);
  width: var(--width-20);
  position: relative;
}
.frameDiv,
.parent {
  display: flex;
  align-items: center;
}
.parent {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-0);
  font-size: var(--fs-20);
}
.frameDiv {
  width: var(--width-105);
  border-radius: var(--br-62);
  background-color: var(--color-whitesmoke);
  height: var(--height-31);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-14) var(--padding-20);
  box-sizing: border-box;
  gap: var(--gap-20);
  font-size: var(--fs-14);
}
.frameIcon2 {
  height: var(--height-16);
  width: var(--width-16);
  position: relative;
}
.div {
  position: relative;
  font-weight: 500;
}
@media screen and (max-width: 1200px) {
  .frameParent {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frameParent {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .frameParent {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .frameParent {
    display: none;
  }
}
