.signUpAndGet20OffToYouWrapper,
.view {
  align-self: stretch;
  display: flex;
  text-align: left;
}
.view {
  flex-direction: column;
  align-items: flex-start;
  gap: 19.7px;
  max-width: 100%;
  font-size: 25.2px;
  color: var(--color-black);
  font-family: var(--font-integral-cf);
}
.signUpAndGet20OffToYouWrapper {
  background-color: var(--color-black);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 9px 544px;
  top: 0;
  z-index: 99;
  position: sticky;
  font-size: var(--fs-12);
  color: var(--color-white);
  font-family: var(--font-satoshi);
}
.signUpAndContainer {
  position: relative;
}
.signUpNow {
  text-decoration: underline;
  font-weight: 500;
}
.brandView,
.logo,
.navigationView {
  display: flex;
  align-items: flex-start;
}
.navigationView {
  align-self: stretch;
  height: var(--height-24);
  padding: var(--padding-0) var(--padding-16);
  box-sizing: border-box;
  max-width: 100%;
}
.brandView,
.logo {
  position: relative;
}
.logo {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-20);
  max-width: 100%;
}
.brandView {
  width: 166px;
  gap: var(--gap-16);
}
.frameIcon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  position: absolute;
  top: 54px;
  left: 16px;
  width: var(--width-24);
  height: var(--height-24);
  display: none;
}
.shopcoLink {
  height: var(--height-21);
  width: 126px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-3) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  position: relative;
}
.frameParent,
.shopco {
  position: absolute;
  top: 57px;
  left: 56px;
  display: none;
}
.frameParent {
  top: 54px;
  left: 278px;
  align-items: flex-start;
  gap: var(--gap-12);
}
.viewFrameIcon {
  cursor: pointer;
  border: var(--border-2);
  padding: var(--padding-0);
  background-color: transparent;
  height: var(--height-24);
  width: var(--width-24);
  position: relative;
}
.divider,
.dividerChild {
  align-self: stretch;
  box-sizing: border-box;
  max-width: 100%;
}
.divider {
  height: var(--height-1);
  display: flex;
  align-items: flex-start;
  padding: var(--padding-0) var(--padding-15) var(--padding-0) var(--padding-16);
}
.dividerChild {
  flex: 1;
  position: relative;
  border-top: var(--border-1);
}
.actionInnerView,
.actionView {
  display: flex;
  align-items: flex-start;
}
.actionView {
  width: 239px;
  padding: var(--padding-0) var(--padding-16);
  box-sizing: border-box;
  font-size: var(--fs-14);
  color: var(--color-gray-200);
  font-family: var(--font-satoshi);
}
.actionInnerView {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-8);
}
.homeParent,
.linksView {
  display: flex;
  align-items: center;
}
.linksView {
  width: 109px;
  height: var(--height-19);
  padding: var(--padding-0) var(--padding-20) var(--padding-0) var(--padding-0);
  box-sizing: border-box;
  gap: var(--gap-6);
}
.homeParent {
  gap: var(--gap-4);
}
.cartPlaceholderIcon {
  height: var(--height-14);
  width: var(--width-14);
  position: relative;
  object-fit: contain;
}
.cart,
.yourCart {
  position: relative;
  color: var(--color-black);
}
.yourCart {
  margin: 0;
  align-self: stretch;
  font-size: var(--fs-32);
  font-weight: 700;
  font-family: var(--font-integral-cf);
}
@media screen and (max-width: 1200px) {
  .frameIcon,
  .frameParent,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .frameIcon,
  .frameParent,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .frameIcon,
  .frameParent,
  .shopco {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  .frameIcon,
  .frameParent,
  .shopco {
    display: none;
  }
}
